$default: #FFFFFF;
$second-default:#FAFAFA;
$default-black:#000;
$second-black: #374151;
$default-gray: #4B5563;
$gray:#414141;
$second-gray:#4B5563;
$button-gray:#F3F4F6;
$nav-item:#414141;
// $primary-button:#0078FF;
$primary-button:#10B981;
$color: #243746;
$color-profile: #fff;
$color-follower: #fff;
// $color-primary: #004899;
$color-primary: #10B981;
$color-secondary: #0e2233;
$color-link:#0078FF;
$bg: #f3f5f4;
$bg-card: #f3f5f4;
// $bg-primary: #0054B3;
$bg-primary: #10B981;
$bg-second-primary:#004899;
$bg-secondary: #666666;
$bg-third:rgba(63, 0, 255, 0.7);
$bg-fourt:rgba( 25, 27, 25, 0.7 );
$border-color: #ddd;
$color-management: #fff;
$color-cookie: #fff;
$bg-cookie:#672011;
$bg-cookie-consent: #C5BCBB;
$bg-jumbo-width:100%;
$bg-jumbo-height:100vh;
$primary-font:'Open Sans';
$idr-color:#10B981;
$testimoni-card:#F3F4F6;
$fire-brick:firebrick;
$color-icon-primary: #10B981;
$bg-button-clean:#FAFAFA;
$bg-button-gray:#EBEBEB;
$bg-blue-gray:#fafdfe;
$bg-hover-first:#f7f7f7;
$scroll-bar-bg: #CFD8DC;
$scroll-bar-color:#90A4AE;
$jumbotron-bg:#f5f5f5;
$scroll-top: #06875C;
$bg-auth: #F3F4F6;
$keranjang-height:100%;