:root {
  --color: #243746;
  --color-profile: #fff;
  --color-follower: #fff;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  /*--bg: #f3f5f4;*/
  --bg: #fff;
  --bg-card: #f3f5f4;
  --bg-secondary: #d0d0d0;
  --border-color: #ddd;
  --bg-scrollbar: #90A4AE;
  --color-management: #fff;
  --color-cookie: #fff;
  --bg-cookie:#672011;
  --bg-cookie-consent: #C5BCBB;
  --bg-navigation: #fff;
}

.dark-mode {
  --color: #ebf4f1;
  --color-profile:  #fff;
  --color-follower:  #ebf4f1;
  --color-dua: #000;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-card: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
  --color-management: #fff;
  --bg-cookie-consent: #1F1031;
  --bg-cookie: #A59191;
  --color-cookie: #B7B5B7;
  --bg-navigation: #232f56;
}
.sepia-mode {
  --color: #433422;
  --color-profile:  #fff;
  --color-follower: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-card: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
  --color-management: #fff;
  --bg-navigation: #f1e7d0;
}

/*body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}*/



.docs-page{
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}


.docs-content{
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}

.embed__file{
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}

#section-1 {
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}

.event__detail-content h4,h5,h6{
  color: var(--color);
}

.callout-block{
  background-color: var(--bg-card);
  color: var(--color);
  transition: background-color 0.3s;
}

.callout-block p, strong{
  color: var(--color);
}